.title {
  position: absolute;
  width: 307px;
  height: 34px;
  left: 647px;
  top: 100px;
  /* H3 / Bold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140.62%;
  /* identical to box height, or 34px */
  color: #000000;
}

.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1045px;
  height: 538px;
  left: 174px;
  top: 154px;
  box-sizing: border-box;
  /* White- */
  background: #ffffff;
  /* Gray 5 */
  border: 1px solid #e0e0e0;
  box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
  border-radius: 10px;
}

.table-head-cont {
  display: grid;
  grid-template-columns: 350px 150px 150px 200px 200px;
  background: #f8f8f8;
  width: 1045px;
  height: 40px;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 70px;
}

.head-owner,
.head-status,
.head-code,
.head-timestamp {
  align-self: center;
  text-align: start;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 600;
}

.head-owner {
  padding-left: 50px;
}
