.auth-container {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    margin: 0 auto;
    align-items: center;
}

.auth-title {
    position: absolute;
    width: 238px;
    height: 34px;
    left: 602px;
    top: 79px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140.62%;
    color: #333333;
}

.auth-card {
    position: absolute;
    width: 495px;
    height: 557px;
    left: 473px;
    top: 154px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
    border-radius: 10px;
}

.auth-card-error {
    position: absolute;
    width: 495px;
    height: 607px;
    left: 473px;
    top: 154px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
    border-radius: 10px;
}

.card-title {
    position: absolute;
    width: 268px;
    height: 28px;
    left: 587px;
    top: 204px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    color: #000000;
}

.card-terms {
    position: absolute;
    width: 386px;
    height: 20px;
    left: 528px;
    top: 636px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
}

.card-terms-error {
    position: absolute;
    width: 386px;
    height: 20px;
    left: 528px;
    top: 686px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
}

.card-terms span,
.card-terms-error span {
    color: #6D2BC1;
}

.label-mobile {
    position: absolute;
    width: 79px;
    height: 20px;
    left: 548px;
    top: 375px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.input-mobile {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 403px;
    background: #FFFFFF;
    border: 1px solid #B3B3C9;
    border-radius: 4px;
}

.input-mobile-error {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 403px;
    background: #FFFFFF;
    border: 1px solid #EB5757;
    border-radius: 4px;
}

.input-mobile::placeholder {
    position: absolute;
    width: 161px;
    height: 19px;
    left: 17px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.input-mobile-error::placeholder {
    position: absolute;
    width: 161px;
    height: 19px;
    left: 17px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.label-email {
    position: absolute;
    width: 109px;
    height: 20px;
    left: 548px;
    top: 478px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.input-email {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 506px;
    background: #FFFFFF;
    border: 1px solid #B3B3C9;
    border-radius: 4px;
}

.input-email-error {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 506px;
    background: #FFFFFF;
    border: 1px solid #EB5757;
    border-radius: 4px;
}

.input-email::placeholder,
.input-email-error::placeholder {
    position: absolute;
    width: 141px;
    height: 19px;
    left: 17px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.button {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 571px;
    background: #001B36;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 0.89px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-error {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 621px;
    background: #001B36;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 0.89px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-arrow {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 503px;
    top: 200px;
}

.card-phone {
    position: absolute;
    width: 48px;
    height: 69px;
    left: 697px;
    top: 271px;
}

.card-progress {
    position: absolute;
    width: 495px;
    height: 7px;
    left: 473px;
    top: 154px;
    background: #E0E0E0;
    border-radius: 10px;
}

.progress {
    position: absolute;
    height: 7px;
    width: 81px;
    left: 474px;
    top: 154px;
    border-radius: 10px;
    background: #6D2BC1;
}

.alert {
    position: absolute;
    width: 345px;
    height: 45px;
    left: 548px;
    top: 556px;
    background: #FDF0F0;
    border-radius: 5px;
}

.alert p {
    position: absolute;
    left: 17px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EB5757;
}


@media screen and (max-width:375px) {
    .auth-container {
        position: relative;
        width: 375px;
        height: 781px;
        margin: 0 auto;
        align-items: center;
    }

    .auth-title {
        position: absolute;
        width: 209px;
        height: 30px;
        left: 79px;
        top: 115px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 140.62%;
        color: #000000;
    }

    .auth-card {
        position: absolute;
        width: 375px;
        height: 500px;
        left: 0px;
        top: 165px;
    }

    .auth-card-error {
        position: absolute;
        width: 375px;
        height: 550px;
        left: 0px;
        top: 165px;
    }

    .card-title {
        position: absolute;
        width: 238px;
        height: 26px;
        left: 68px;
        top: 200px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
    }

    .card-arrow {
        position: absolute;
        width: 38px;
        height: 38px;
        left: 14px;
        top: 194px;
    }

    .card-phone {
        position: absolute;
        width: 41.74px;
        height: 60px;
        left: 167px;
        top: 249px;
    }

    .label-mobile {
        position: absolute;
        width: 79px;
        height: 20px;
        left: 32px;
        top: 334px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #000000;
    }

    .label-email {
        position: absolute;
        width: 109px;
        height: 20px;
        left: 32px;
        top: 432px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #000000;
    }

    .input-mobile {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 32px;
        top: 362px;
        background: #FFFFFF;
        border: 1px solid #B3B3C9;
        border-radius: 4px;
    }

    .input-mobile-error {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 32px;
        top: 362px;
        background: #FFFFFF;
        border: 1px solid #EB5757;
        border-radius: 4px;
    }

    .input-email {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 32px;
        top: 460px;
        background: #FFFFFF;
        border: 1px solid #B3B3C9;
        border-radius: 4px;
    }

    .input-email-error {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 32px;
        top: 460px;
        background: #FFFFFF;
        border: 1px solid #EB5757;
        border-radius: 4px;
    }

    .button {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 33px;
        top: 525px;
    }

    .button-error {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 33px;
        top: 575px;
    }

    .card-progress {
        position: absolute;
        width: 375px;
        height: 7px;
        left: 0px;
        top: 165px;
    }

    .progress {
        position: absolute;
        height: 7px;
        width: 81px;
        left: 0px;
        top: 165px;
        border-radius: 10px;
        background: #6D2BC1;
    }

    .card-terms {
        position: absolute;
        width: 274px;
        height: 40px;
        left: 50px;
        top: 585px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        text-align: center;
        color: #000000;
    }

    .card-terms-error {
        position: absolute;
        width: 274px;
        height: 40px;
        left: 50px;
        top: 635px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        text-align: center;
        color: #000000;
    }

    .alert {
        position: absolute;
        width: 310px;
        height: 45px;
        left: 33px;
        top: 517px;
        background: #FDF0F0;
        border-radius: 5px;
    }

    .alert p {
        position: absolute;
        left: 17px;
        top: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #EB5757;
    }
}