.title {
    position: absolute;
    width: 307px;
    height: 34px;
    left: 567px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140.62%;
    color: #000000;
}

.desc {
    position: absolute;
    width: 312px;
    height: 56px;
    left: 564px;
    top: 176px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    color: #000000;
}

.desc span {
    color: #6D2BC1;
    font-weight: 500;
}

.card-arrow {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 503px;
    top: 200px;
}

.card-phone {
    position: absolute;
    width: 48px;
    height: 69px;
    left: 697px;
    top: 295px;
}

.redirect {
    position: absolute;
    width: 243px;
    height: 26px;
    left: 599px;
    top: 616px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #6D2BC1;
}

@media screen and (max-width:375px) {

    .title {
        position: absolute;
        width: 269px;
        height: 30px;
        left: 53px;
        top: 115px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 140.62%;
        color: #000000;
    }

    .desc {
        position: absolute;
        width: 277px;
        height: 56px;
        left: 63px;
        top: 169px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 155%;
        text-align: center;
        color: #000000;
    }

    .desc span {
        color: #6D2BC1;
        font-weight: 500;
        font-size: 16px;
    }

    .card-arrow {
        position: absolute;
        width: 38px;
        height: 38px;
        left: 14px;
        top: 194px;
    }

    .card-phone {
        position: absolute;
        width: 41.74px;
        height: 60px;
        left: 167px;
        top: 279px;
    }

    .redirect {
        position: absolute;
        width: 243px;
        height: 26px;
        left: 66px;
        top: 576px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #6D2BC1;
    }
}