.site-wrapper {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    margin: 0 auto;
}

@media screen and (max-width:375px) {
    .site-wrapper {
        position: relative;
        width: 375px;
        height: 781px;
        margin: 0 auto;
        align-items: center;
    }
}